body {
    color: #fff;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: #000;
    font-size: 3rem;
    min-width: 78rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 0.562);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: #fff;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: green;
}

.incorrect {
    background: red;
}

/* heads up display */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#timer {
    font-size: 4rem;
    margin-top: 2rem;
    border-radius: 50px;
}

#timerFull p {
    font-size: 2.5rem;
}









